.hero-head {
  position: relative;
}

aside {
  width:750px;
  height:750px;
  position: absolute;
  top:-200px;
  right:-390px;
}

#circle-wrapper {
  padding-top: 100%;
  position: relative;
}

.consensys-circle-image {
  position:absolute;
  top:0;
  left:0;
}


#consensys-circle-outer-image {
  animation: rotatecircle 155s infinite linear;
  -moz-animation: rotatecircle 155s infinite linear;
  -webkit-animation: rotatecircle 155s infinite linear;
}

#consensys-circle-middle-image {
  top: 45px;
  left: 45px;
  height: 579px;
  width: 579px;
  animation: counterrotatecircle 165s infinite linear;
  -moz-animation: counterrotatecircle 165s infinite linear;
  -webkit-animation: counterrotatecircle 165s infinite linear;
}
#consensys-circle-inner-image {
  top: 90px;
  left: 90px;
  height: 489px;
  width: 489px;
  animation: rotatecircle 145s infinite linear;
  -moz-animation: rotatecircle 145s infinite linear;
  -webkit-animation: rotatecircle 145s infinite linear;
}

@keyframes rotatecircle {
    0% { transform:rotate(0deg); }
  100% { transform:rotate(360deg); }
}
@-moz-keyframes rotatecircle {
    0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(360deg); }
}
@-webkit-keyframes rotatecircle {
    0% { -webkit-transform:rotate(0deg); }
  100% { -webkit-transform:rotate(360deg); }
}


@keyframes counterrotatecircle {
    0% { transform:rotate(0deg); }
	100% { transform:rotate(-360deg); }
}
@-moz-keyframes counterrotatecircle {
    0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(-360deg); }
}
@-webkit-keyframes counterrotatecircle {
    0% { -webkit-transform:rotate(0deg); }
  100% { -webkit-transform:rotate(-360deg); }
}
