$family-sans-serif: Roboto
$primary: #93D6C4
$dark: #6141ED

@import "~bulma"

.title
  font-weight: normal

body, html
  background-color: #242A30

input.input
  background-color: #31383F
  color: #BBBEC2
  border-color: transparent
  &::placeholder
    color: #BBBEC2
  &:active, &:focus
    border-color: $dark



#footer > .container
  left: 0
  position: fixed
  right: 0
  z-index: 30
  bottom: 0
  margin-bottom: 1rem


+mobile
  .hero-body
    padding-top: 1.5rem !important
    padding-bottom: 1.5rem !important

  .hero-body > .section
    padding-top: 0px !important
    padding-bottom: 0px !important
    padding: 0 !important

  #consensys-circle-container
    width: 350px
    height: 350px
    position: absolute
    top: -230px
    right: -280px

  #email-capture-form
    padding-top: 1.5rem !important
    padding-bottom: 1.5rem !important


  #footer
    padding-bottom: 0

  #footer > .container
    position: initial

+tablet
  #footer > .container
    margin: 0 1rem

  #consensys-circle-container
    right: -460px

+desktop
  #footer > .container
    margin: 0 auto
